[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
enact = {editable = true, path = "."}
jupyter = "*"
ipywidgets = "*"
replicate = "*"
openai = "*"
mypy = "*"
pylint = "*"
numpy = "*"
ipykernel = "*"
types-Pillow = "*"
fastapi = "*"
wrapt = "*"

[requires]
python_version = "3.8"
