[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
enact = {editable = true, path = "."}
jupyter = "*"
ipywidgets = "*"
replicate = "*"

[dev-packages]
mypy = "*"
numpy = "*"
ipykernel = "*"
types-Pillow = "*"

[requires]
python_version = "3.8"
